{#-
  Jinja template voor oefening 4

  Master: dit template
  system.j2 - algemene info
  users.j2 - users
  vlans.j2
  spanning-tree.j2
  interfaces.j2
  routing.j2

-#}
{%- include 'oefening4-system.j2' %}
{%- include 'oefening4-users.j2' %}
{%- include 'oefening4-routing.j2' %}
{%- include 'oefening4-spanning-tree.j2' %}
{%- include 'oefening4-interfaces.j2' %}
{%- include 'oefening4-vlans.j2' %}