{#-
  Jinja template voor oefening 2
-#}
hostname {{ name }}
!
crypto isakmp policy 1
authentication pre-share
crypto isakmp key {{ crypto.key }} address 0.0.0.0
!
crypto ipsec transform-set trans2 {{ crypto.transform }}
mode transport
!
crypto map vpnmap1 local-address Ethernet0
{%- if type == 'hub' %}
{%- for device in devices %}{% if device.type == 'spoke' %}
crypto map vpnmap1 {{ device.id }} ipsec-isakmp
set peer 172.16.{{ device.id }}.1
set transform-set trans2
match address 10{{ device.id }}
{%- endif %}{% endfor %}
!
{%- for device in devices%}{% if device.type == 'spoke' %}
interface Tunnel{{ device.id }}
bandwidth 1000
ip address 10.0.0.{{ 4* device.id -3 }} 255.255.255.252
ip mtu 1400
delay 1000
tunnel source Ethernet0
tunnel destination {{ device.public_ip }}
!
{%- endif %}{% endfor %}
{%- elif type == 'spoke'%}
crypto map vpnmap1 10 ipsec-isakmp
set peer {{ devices[0].public_ip }}
set transform-set trans2
match address 101
!
interface Tunnel0
bandwidth 1000
ip address 10.0.0.{{ 4* id -2 }} 255.255.255.252
ip mtu 1400
delay 1000
tunnel source Ethernet0
tunnel destination {{ devices[0].public_ip }}
{%- endif %}
!
interface Ethernet0
ip address {{ public_ip }} {{ public_subnet }}
crypto map vpnmap1
!
interface Ethernet1
ip address 192.168.{{ id }}.1 255.255.255.0
!
router eigrp {{ router.eigrp.as }}
{%- for network in router.eigrp.networks %}
network {{ network }}
{%- endfor %}
no auto-summary
!
{%- if type == 'hub' %}
{%- for device in devices %}{% if device.type == 'spoke' %}
access-list 10{{ device.id }} permit gre host {{ public_ip }} host {{ device.public_ip }}
{%- endif %}{% endfor %}
{%- elif type == 'spoke'%}
access-list 101 permit gre host {{ public_ip }} host {{ devices[0].public_ip }}
{%- endif %}