{#-
  Jinja template voor oefening 4

  spanning-tree.j2 - STP config

spanning_tree:
  mode: rstp
  primary_root: switch-1
  secondary_root: switch-2

#}
spanning-tree mode rapid-pvst
{%- if hostname == spanning_tree.primary_root %}
spanning-tree vlan 1-4094 priority 8192
{%- elif hostname == spanning_tree.secondary_root %}
spanning-tree vlan 1-4094 priority 16384
{%- else %}
spanning-tree vlan 1-4094 priority 24576
{%- endif %}
!