{#-
  Jinja template voor oefening 4
      interfaces.j2

  gebruikt macros voor trunk/access/routed interfaces:
    roep aan met {{ configure_interface(int) }}

interfaces
- port: Gi0/1
  description: switch-2_gi0/1
  mtu: 9181
  type: LAG/switchport/routed

#LAG
  lag_id: 0

#routed
  ip: 10.1.1.0
  netmask: 255.255.255.0

#switchport
  mode: access/trunk
  vlan: 20
  allowed_vlans: 20,30

aggregated_interfaces:
- id: 0
  description: switch2_ae0
  type: routed

vlan_interfaces:
- tag: 10
  ip: 10.2.10.2
  netmask: 255.255.255.0
#}
{#- main configure interface macro #}
{%- macro configure_interface(int) %}
    {%- if int.type|upper == 'LAG' %}
 channel-group {{ int.lag_id }} mode on
    {%- elif int.type|lower == 'routed' %}
 ip address {{ int.ip }} {{ int.netmask }}
    {%- elif int.type|lower == 'switchport' %}
        {%- if int.mode|lower == 'access' %}
 switchport mode access
 switchport access vlan {{ int.vlan }}
 spanning-tree portfast
        {%- elif int.mode|lower == 'trunk' %}
 switchport mode trunk
 switchport trunk allowed vlan {{ int.allowed_vlans }}
        {%- endif %}
    {%- endif %}
{%- endmacro %}

{#- configure physical interfaces #}
{%- for int in interfaces %}
interface {{ int.port }}
 description {{ int.description }}
    {%- if int.mtu is defined %}}
 mtu {{ [int.mtu,9198]|min }}
    {%- endif %}
{#- call configure_interface macro -#}
{{ configure_interface(int) }}
!
{%- endfor %}

{#- configure aggregated interfaces #}
{%- for int in aggregated_interfaces %}
interface Po{{ int.id }}
 description {{ int.description }}
{#- call configure_interface macro -#}
{{ configure_interface(int) }}
!
{%- endfor %}
{#- configure vlan interfaces #}
{%- for int in vlan_interfaces %}
interface vlan{{ int.tag }}
  {%- if int.description is defined %}
 description {{ int.description }}
  {%- endif %}
 ip address {{ int.ip }} {{ int.netmask }}
!
{%- endfor %}