{#-
  Jinja template voor oefening 4

  users.j2 - users

users:
- name: admin
  priv: full
  secret: $5$rci...
- name: monitor
  priv: read-only
  secret: $5$rci...

-#}
{%- set privilege = { 'full': 15, 'read-only': 3 } %}
{%- for user in users: %}
username {{ user.name }} privilege {{ privilege[user.priv] }} secret {{ user.secret }}
{%- endfor %}
!