{#-
  Jinja template voor oefening 4

  system.j2 - algemene info

domain_name: onezero.lab
dns_servers:
  - 10.10.10.10
  - 10.10.20.10
ntp_servers:
- 10.1.1.1
banner: 

-#}
hostname {{ hostname }}
ip domain name {{ domain_name }}
{%- for dns_server in dns_servers %}
ip name-server {{ dns_server }}
{%- endfor %}
{#- time settings #}
clock timezone CET
clock summer-time CEST recurring
{%- for ntp_server in ntp_servers %}
ntp server {{ ntp_server }}
{%- endfor %}
!
banner login ^{{ banner }}^
!