{#-
  Jinja template voor oefening 4

vlans:
  100:
    name: management
  20:
    name: clients
  30:
    name: voice
  999:
    name: disabled

-#}
{%- for id, vlan in vlans.items() | sort %}
vlan {{ id }}
  name {{ vlan.name }}
!
{%- endfor %}
