{#-
  Jinja template voor oefening 4

  routing.j2

routing:
  static:
    - prefix: 1.0.0.0
      netmask: /8
      next_hop: 10.2.1.2
      metric: 15
    - prefix: 0.0.0.0
      netmask: /0
      next_hop: 10.2.1.2

-#}
{%- set netmasks = {
  0: '0.0.0.0',
  8: '255.0.0.0',
  16: '255.255.0.0',
  24: '255.255.255.0',
  30: '255.255.255.252',
  31: '255.255.255.254',
  32: '255.255.255.255',
  } %}

{%- if routing|default(false) %}
  {%- if routing.static|default(false) %}
    {%- for route in routing.static %}
      {%- set mask = route.netmask[1:]|int %}
ip route {{ route.prefix }} {{ netmasks[mask] }} {{ route.next_hop }} {{ route.metric|default(null)}}
    {%- endfor %}
!
  {%- endif %}
{%- endif %}