{#-
  Jinja template voor oefening 6
-#}
{#- create new bgp config #}
router bgp {{ bgp.local_as }}
{%- for neighbor in bgp.neighbors %}
 neighbor {{ neighbor.host }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.host }} description {{ neighbor.description }}
 neighbor {{ neighbor.host }} password {{ neighbor.password }}
{%- endfor %}
!