{#-
  Jinja template voor oefening 4
      interfaces.j2

interface GigabitEthernet1
 ip address dhcp
 negotiation auto
 no mop enabled
 no mop sysid

Variabelen
interfaces: (list)
  - name: (string)
    ip4: (string)

#}
{#- configure physical interfaces #}
{%- for int in interfaces %}
interface {{ int.name }}
 ip address {{ int.ip4 }}
 negotiation auto
 no mop enabled
 no mop sysid
!
{%- endfor %}