{#-
  Jinja template voor Cisco routers

  Main: dit template
  system.j2 - algemene info
  users.j2 - users
  interfaces.j2 - interfaces
  routing.j2 - static routing
  snmp.j2 - snmp settings
  overig.j2 - alle andere instellingen

#}
{%- include 'system.j2' %}
{%- include 'users.j2' %}
{%- include 'snmp.j2' %}
{%- include 'routing.j2' %}
{%- include 'interfaces.j2' %}
{%- include 'overig.j2' %}
{#- NAPALM settings #}
!
file prompt quiet
!
archive
 path flash:archive
 write-memory
!
ip scp server enable
!