{#-
  Jinja template voor oefening 3

  overig.j2

Variabelen
serial: (string)
#}
subscriber templating
!
multilink bundle-name authenticated
!
license udi pid CSR1000V sn {{ serial }}
no license smart enable
diagnostic bootup level minimal
!
spanning-tree extend system-id
!
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
!
redundancy
!
control-plane