{#-
  Jinja template voor oefening 2

  routing.j2

Variabelen
routing:
  bgp:
    local_as: (int)
    neighbors: (list)
      - peer_ip: (string)
        description: (string)
        remote_as: (int)
        password: (string)

#}
{%- if routing|default(false) %}
  {%- if routing.bgp|default(false) %}
router bgp {{ routing.bgp.local_as }}
 bgp log-neighbor-changes
    {%- for peer in routing.bgp.neighbors %}
 neighbor {{ peer.peer_ip }} remote-as {{ peer.remote_as}}
      {%- if peer.description|default(false) %}
 neighbor {{ peer.peer_ip }} description {{ peer.description }}
      {%- endif %}
      {%- if peer.password|default(false) %}
 neighbor {{ peer.peer_ip }} password {{ peer.password }}
      {%- endif %}
    {%- endfor %}
!
  {%- endif %}
{%- endif %}
