{#-
  Jinja template voor oefening 2

  snmp.j2

Variabelen
snmp:
  location: (string)
  contact: (string)
  communities: (list)
    - name: (string)
      type: (RO/RW)
#}
snmp-server location {{ snmp.location }}
snmp-server contact {{ snmp.contact }}
{%- for community in snmp.communities %}
snmp-server community {{ community.name }} {{ community.type }}
{%- endfor %}
!