{#-
  Jinja template voor oefening 3

  system.j2 - algemene info

variables:
hostname: (string)
domain_name: (string)
dns_servers: (list)
ntp_servers: (list)
banner: (string)
#}
service timestamps debug datetime msec
service timestamps log datetime msec
platform qfp utilization monitor load 80
no platform punt-keepalive disable-kernel-core
platform console virtual
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
logging persistent size 1000000 filesize 8192 immediate
!
ip domain name {{ domain_name }}
{%- for dns_server in dns_servers %}
ip name-server {{ dns_server }}
{%- endfor %}
ip admission watch-list expiry-time 0
{#- time settings #}
clock timezone CET
clock summer-time CEST recurring
{%- for ntp_server in ntp_servers %}
ntp server {{ ntp_server }}
{%- endfor %}
!
banner login ^{{ banner }}^
!
line con 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 length 0
 transport input ssh