{#-
  Jinja template voor oefening 3

users.j2 - gebruikers

variabelen:
users: (list)
  - name: (string)
    priv: (full/read-only)
    secret: (string)
    key_hash: (string)
    certificate: (string)

#}
{%- set privilege = { 'full': 15, 'read_only': 3 } %}
aaa new-model
!
aaa authentication login default local
aaa authorization exec default local none 
!
aaa session-id common
!
ip ssh rsa keypair-name sshkeys
{%- for user in users: %}
username {{ user.name }} privilege {{ privilege[user.priv] }} secret {{ user.secret }}
{%- if user.certificate is defined %}
ip ssh pubkey-chain
  username {{ user.name }}
   key-hash ssh-rsa {{ user.key_hash }} {{ user.name }}
!
crypto pki trustpoint TP-self-signed-{{ user.name }}
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-{{ user.name }}
 revocation-check none
 rsakeypair TP-self-signed-{{ user.name }}
!
crypto pki certificate chain TP-self-signed-{{ user.name }}
 certificate self-signed 01
  {{ user.certificate }}
    quit
!
{%- endif %}
{%- endfor %}
!